<div class="goal-card">
  <div class="goal-card-header">
    {{goal_name}}
  </div>
  <span for="img" aria-label="money">🌺</span>
  <div class="card-body">
    <p>
      Description:
      {{description}}
    </p>
    <p>
      Date Entered:
      {{start_date}}
    </p>
    <p>
      Deadline:
      {{end_date}}
    </p>
  </div>
</div>

<!-- This is the form for updating a dish. According to MVC framework, what is this form responsible for? -->
<!-- This form is responsible for the UI logic, or the components in the View that the user will interact with. -->
<!--What isn't it responsible for? -->
<!--It is not responsible for data-related logic, requests, or business-logic. -->

{{!-- <div class="edit-goal-container">
  <h2>
    Update Goal
  </h2>
  <form class="edit-goal-form">
    <label for="goal_name">
      Goal Name:
    </label>
    <br />
    <textarea id="goal_name" name="goal_name" rows="2" cols="30">
      {{dish_name}}
    </textarea>
    <br />
    <label for="description">
      Description:
    </label>
    <br />
    <textarea id="description" name="description" rows="5" cols="30">
      {{description}}
    </textarea>
    <br />
    <label for="start_date">
      Start Date:
    </label>
    <br />
    <textarea id="start_date" name="start_date" rows="2" cols="30">
      {{start_date}}
    </textarea>
    <br />
    <textarea id="end_date" name="end_date" rows="2" cols="30">
      {{end_date}}
    </textarea>
    <br />
    <br />
    <button type="submit" value="Submit">
      Submit
    </button>
  </form>
</div>
<script src="/js/edit-goal.js"></script> --}}