<div class="contaienr">
{{> page-header}}
<section class = "d-flex flex-row flex-wrap">
<img class="z-1 img-fluid position-absolute opacity-50" src="/assets/perGoal.jpg" alt="1990s themed image"/>
  <div class = "flex-row row-3 align-items-center">
    <div class=" flex-col goal-card my-3 justify-align-center z-3 position-relative">

  {{!-- how to center the damn table... --}}
      <div class="row card-body table-responsive">
        <table class = "table table-bordered text-center">
          <tr id="round-corner-top">
            <th colspan="2">{{username}}</th>
          </tr>
        <tr>
          <td>Description</td>
          <td>{{description}}</td>
        </tr>
        <tr>
          <td>Date Entered</td>
          <td>{{start_date}}</td>
        </tr>
        <tr>
          <td id="round-corner-b-l">Deadline</td>
          <td id="round-corner-b-r">{{end_date}}</td>
        </tr>
        </table>
      </div>

    </div>
  </div>
</section>
</div>



<!-- This is the form for updating a dish. According to MVC framework, what is this form responsible for? -->
<!-- This form is responsible for the UI logic, or the components in the View that the user will interact with. -->
<!--What isn't it responsible for? -->
<!--It is not responsible for data-related logic, requests, or business-logic. -->

{{!-- <div class="edit-goal-container">
  <h2>
    Update Goal
  </h2>
  <form class="edit-goal-form">
    <label for="goal_name">
      Goal Name:
    </label>
    <br />
    <textarea id="goal_name" name="goal_name" rows="2" cols="30">
      {{dish_name}}
    </textarea>
    <br />
    <label for="description">
      Description:
    </label>
    <br />
    <textarea id="description" name="description" rows="5" cols="30">
      {{description}}
    </textarea>
    <br />
    <label for="start_date">
      Start Date:
    </label>
    <br />
    <textarea id="start_date" name="start_date" rows="2" cols="30">
      {{start_date}}
    </textarea>
    <br />
    <textarea id="end_date" name="end_date" rows="2" cols="30">
      {{end_date}}
    </textarea>
    <br />
    <br />
    <button type="submit" value="Submit">
      Submit
    </button>
  </form>
</div>
<script src="/js/edit-goal.js"></script> --}}